/* .wrapper {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
} */

.wrapper { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

main .content {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main .content .anonymity_header h2 {
    text-align: center;
}

main .content .anonymity_header p {
    margin-left: 53px;
    margin-top: 10px;
    font-size: 16px;
}

main .content .anonymity_content {
    width: 90%;
    margin-top: 45px;
    /* margin-left: 50px; */
    margin-left: auto;
    margin-right: auto;
}

main .content .anonymity_content h3 {
    text-align: center;
    margin-top: 35px;
}

main .content .anonymity_content p {
    margin-top: 10px;
    margin-bottom: 10px;
}

main .content .anonymity_content a {
    color: blue;
    font-size: 17px;
    text-decoration: none;
}

main .content .anonymity_content a:hover {
    color: red;
    transition: 0.5s;
    text-decoration: underline;
}

main .content .anonymity_content .note {
    border: 1px solid lightgray;
    border-radius: 10px;
    background: rgba(197, 197, 197, 0.759);
    padding: 10px;
}

main .content .anonymity_content .note span {
    color: red;
}

main .content .anonymity_content ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

main .content .anonymity_content ul .first_letter {
    color: red;
}

main .content .anonymity_content ul li {
    margin-bottom: 10px;
}

/* @media (min-width: 360px) and (max-width: 740px){
    header .nav .subMenu {
		height: 100vh;
        width: 200px;
        position: fixed;
        left: 0;
        top: 10;
        background: #19a2ac;
        z-index: 5;
        display: none;
        transition: 0.5s;
	}

	.wrapper {
		width: 100%;
	}
} */