main .content .hacking_top, main .content .hacking_content {
    width: 90%;
    margin-left: 70px;
}

main .content .hacking_top h2 {
    text-align: center;
    margin-bottom: 20px;
}

main .content .hacking_content {
    margin-top: 20px;
}

main .content .hacking_content h3 {
    text-align: center;
}

main .content .hacking_content .about {
    margin-top: 20px;
}

main .content .hacking_content p {
    margin-bottom: 20px;
}

main .content .hacking_content a {
    color: blue;
    font-size: 17px;
    text-decoration: none;
}

main .content .hacking_content a:hover {
    color: red;
    text-decoration: underline;
    transition: 0.5s;
}

main .content .hacking_content .note {
    border: 1px solid lightgray;
    border-radius: 10px;
    background: wheat;
    padding: 10px;
}

main .content .hacking_content img { 
    width: 80%;
    margin-left: 90px;
    margin-bottom: 20px;
}

main .content .hacking_content ol {
    margin-top: 10px;
}

main .content .hacking_content ol li {
    margin-top: 10px;
}

main .content .hacking_content ol li span {
    color: red;
}