@import url(https://fonts.googleapis.com/css?family=Lora);

* {
    margin: 0;
	box-sizing: border-box;
}

.background {
    background-color: #e5eff4;
}

.wrapper {
	width: 1100px;
    margin-left: auto;
    margin-right: auto;
	background: white;
}

header {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

header {
	height: 100px;
	padding: 20px;
}

header nav, .search {
	border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

/* bars menu */
header nav input[type="checkbox"]{
	display: none;
}

header nav label.toogleMenu {
    display: none;
    padding: 5px 30px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

header nav {
	overflow: hidden;
}

header nav .subMenu .drop {
	display: none;
}

header nav a {
	float: left;
	font-size: 16px;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

header nav .dropdown {
	float: left;
	overflow: hidden;
}

header nav .dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	cursor: pointer;
  }

  header nav a:hover, .dropdown:hover .dropbtn {
	color: rgb(196, 196, 75);
	transition: 0.5s;
  }

header nav .dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	background: white;
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	z-index: 1;
  }
  
header nav .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
header nav .dropdown-content a:hover {
	background-color: #ddd;
  }
  
header nav .dropdown:hover .dropdown-content {
	display: block;
  }

header .search {
	width: 0;
	float: right;
	position: relative;
	bottom: 42px;
	right: 20px;
}  

header .search input[type="checkbox"] {
	display: none;
}

header .search label {
	font-size: 18px;
	position: relative;
	top: 8px;
	right: 20px;
	cursor: pointer;
}

header .search label:hover {
	color: rgb(224, 224, 95);
	transition: 0.5s;
}

header .search input {
	padding: 10px;
	width: 200px;
	border: navajowhite;
}

header .search form {
	padding: 15px;
	width: 300px;
	top: 15px;
	right: 25px;
	background-color: rgb(255, 220, 154);
	border-top: 1px solid rgb(255, 220, 154);
    border-bottom: 1px solid rgb(255, 220, 154);
}

header .search form button {
	border: none;
	padding: 9px;
	font-size: 16px;
	background: lightblue;
	cursor: pointer;
	color: white;
	margin-bottom: 3px;
}

header .search form {
	display: none;
	position: absolute;
	z-index: 7;
	top: 1px;
	padding: 30px;
}

header .search form input {
	position: relative;
	bottom: 15px;
}

header .search form button {
	position: relative;
	bottom: 50px;
	left: 200px;
}

header .search .toogleSearch:checked ~ form {
	display: block;
}

  
main {
	display: flex;
}

main .content {
	width: 960px;
	height: 700px;
	padding: 20px;
}

main .right {
	width: 200px;
	padding: 20px;
}

footer {
	height: 100px;
	padding: 20px;
}

/* footer */
footer {
    height: 100px;
    padding: 20px;
    width: 100%;
}

footer .menu_footer {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

footer .menu_footer a{
    margin: 15px;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

footer .menu_footer a:hover {
    color: rgb(194, 194, 131);
    transition: 0.3s;
}

footer .icons {
    float: right;
    position: relative;
    bottom: 20px;
}

footer .icons a:last-child {
    color: green;
}

footer .icons a:first-child {
    color: rgb(36, 173, 173);
}

footer .icons a:nth-child(2){
    color: rgb(6, 67, 250);
}

/* adaptive */
@media (max-width: 1280px){
	.background {
		background: white;
	}

	.wrapper {
		width: 100%;
	}

	/* .wrapper main .content {
		width: 1000px;
	} */

	header {
	 width: 100%;
	}
	
	header nav, .search {
		border-top: none;
		border-bottom: none;
	}


	header .search {
		width: 0;
		float: right;
		position: relative;
		top: 2px;
		right: 100px;
	}  

	header .search form {
		display: none;
		position: absolute;
		z-index: 7;
		top: 1px;
		padding: 30px;
	}
	
	header .search form input {
		position: relative;
		bottom: 15px;
	}
	
	header .search form button {
		position: relative;
		bottom: 50px;
		left: 200px;
	}

	main .content .content_description .btn  hr {
		display: none;
	}
	
	header nav .subMenu {
        height: 100vh;
        width: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        background: #19a2ac;
        z-index: 5;
        display: none;
        transition: 0.5s;
	}

	header nav .subMenu a, header nav .dropdown .dropbtn{
        width: 100%;
        justify-content: flex-start;
        text-align: center;
		margin-top: 20px;
		height: 8%;
        font-size: 20px;
        color: white;
	}

	header nav .subMenu .dropdown .dropdown-content {
		display: none;
	}

	header nav .subMenu a:hover, header nav .dropdown .dropbtn:hover {
		color: red;
	}

	header nav .subMenu .drop {
		display: block;
	}

	header nav .dropdown .dropbtn{
		color: white;
		padding: 10px;
		position: absolute;
		left: 10px;
		top: 140px;
		display: none;
	}

	header nav .dropdown .dropdown-content {
		display: block; 
		position: absolute;
		background-color: rgba(0,0,0,0.2);
		left: 450px;
		top: 200px;
		display: none;
	}

	header nav label.toogleMenu{
		display: block;
		position: fixed;
		z-index: 7;
	}

	header nav input.toogleMenu:checked ~ .subMenu {
		display: block;
	}

	main .right {
		width: 200px;
		margin-left: auto;
		display: none;
	}

	main .content {
		width: 100%;
	}
/* 
	footer {
		position: relative;
		 bottom: 80px;
	} */

    footer .menu_footer {
        width: 90%;
    }

    footer .menu_footer a {
        display: flex;
        flex-direction: row;
    }

    footer .menu_footer .icons a{
        position: relative;
        bottom: 150px;
    }
}

@media (max-width: 1024px) {
	.wrapper {
		width: 100%;
	}

	/* .wrapper main .content {
		width: 900px;
	} */

	header nav .subMenu {
        height: 100vh;
        width: 900px;
        position: fixed;
        left: 0;
        top: 0;
        background: #19a2ac;
        z-index: 5;
        display: none;
        transition: 0.5s;
	}

	header nav .dropdown .dropdown-content {
		/* display: block;  */
		position: absolute;
		left: 320px;
		top: 220px;
		display: none;
	}

	header .search form {
		display: none;
		position: absolute;
		z-index: 7;
		top: 1px;
		padding: 30px;
	}
	
	header .search form input {
		position: relative;
		bottom: 15px;
	}
	
	header .search form button {
		position: relative;
		bottom: 50px;
		left: 200px;
	}
	

	footer .menu_footer {
		width: 100%;
		display: flex;
		margin-left: auto;
		margin-right: auto;
	}

	footer .menu_footer a {
		flex-direction: row;
		margin-left: 100px;
	}

	footer .menu_footer .icons a{
		display: none;
	}
}

@media (max-width: 768px){
	.wrapper {
		width: 100%;
	}

	.wrapper main .content {
		width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	header nav .subMenu {
        height: 100vh;
        width: 450px;
        position: fixed;
        left: 0;
        top: 0;
        background: #19a2ac;
        z-index: 5;
        display: none;
        transition: 0.5s;
	}

	header nav .dropdown .dropdown-content {
		/* display: block;  */
		position: absolute;
		left: 230px;
		top: 100px;
	}

	header nav .dropdown .dropbtn{
		color: white;
		padding: 10px;
		position: absolute;
		left: 4px;
		top: 150px;
	}

	header nav .dropdown .dropdown-content {
		position: absolute;
		left: 160px;
		top: 220px;
	}

	main .right {
		display: none;
	}


}

@media (max-width: 600px){
	header .nav .subMenu {
		height: 100vh;
        width: 500px;
        position: fixed;
        left: 0;
        top: 0;
        background: #19a2ac;
        z-index: 5;
        display: none;
        transition: 0.5s;
	}

	.wrapper {
		width: 100%;
	}

	.wrapper main .content {
		width: 450px;
	}
}


@media (max-width: 480px){
	header .nav .subMenu {
		height: 100vh;
        width: 350px;
        position: fixed;
        left: 0;
        top: 10;
        background: #19a2ac;
        z-index: 5;
        display: none;
        transition: 0.5s;
	}

    footer .menu_footer {
        font-size: 15px;
    }
}

@media (min-width: 360px) and (max-width: 740px){
	.wrapper {
		width: 100%;
	}
}

@media (min-width: 280px) and (max-width: 653px){
	 .wrapper {
		 width: 400px;
	 }

	 .wrapper main .content {
		width: 350px;
	}

	 footer .menu_footer {
		 display: flex;
		 position: relative;
		 bottom: 30px;
	 }

	 footer .menu_footer a {
		 margin: 20px;
	 }
}
