main .content {
    height: 100%;
    width: 90%;
}

main .content .search_description {
    width: 100%;
}

main .content .search_description h2 > a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
    font-size: 19px;
}

main .content .search_description h2 > a:hover {
    color: red;
    text-decoration: underline;
    transition: 0.5s;
}

main .content .search_description .btn form button {
    margin-top: 10px;
    margin-bottom: 40px;
}

main .content .search_description .btn form button {
    padding: 10px;
    border: none;
    color: rgb(106, 88, 88);
    font-weight: bold;
    cursor: pointer;
}

main .content .search_description .btn form button:hover {
    background: rgb(183, 171, 171, 0.4);
    color: rgb(254, 254, 254);
}

main .content .search_description .not_found {
    text-align: center;
    color: red;
}