main .right {
    height: 550px;
}

@media (max-width: 1280px){ 
    main .content .content_description hr {
        display: none;
    }

    main .content .content_description .btn button {
        position: relative;
        right: 550px;
        /* background-color: yellow; */
    }
}