.wrapper {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

main .right {
    border: 1px solid;
    border-top: 1px solid lightslategrey;
    border-bottom: 1px solid lightslategrey;
    position: relative;
    bottom: 32px;
    right: 19px;
}

main .right .right_description {
    border-top: 1px solid lightslategrey;
    margin-top: 5px;
    padding-top: 5px;
}